<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <style>
        /* Extra small devices (portrait phones, 375px and up) */

        @media (max-width: 319.98px) {

            #title {
                text-align: center;
                font-size: 34px;
                margin-top: 50px;
                margin-bottom: 31px;
            }
            #change_password_form {
                display: flex;
                flex-direction: column;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
            #change_password_new_div {
                margin-bottom: 9px;
            }
            #change_password_submit_button {
                margin-top: 19px;
                margin-bottom: 42px;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active,
            .btn-outline-secondary:not(:disabled):not(.disabled):active,
            .show>.btn-outline-secondary.dropdown-toggle {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary:hover {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary.focus,
            .btn-outline-secondary:focus {
                box-shadow: none;
            }
            .btn.focus,
            .btn:focus {
                outline: 0;
                box-shadow: none;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
            .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
            .show>.btn-outline-secondary.dropdown-toggle:focus {
                box-shadow: none;
            }
        }

        /* Extra small devices (portrait phones, 320px and up) */

        @media (min-width: 320px) and (max-width: 374.98px) {

            #title {
                text-align: center;
                font-size: 37px;
                margin-top: 50px;
                margin-bottom: 31px;
            }
            #change_password_form {
                display: flex;
                flex-direction: column;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
            #change_password_new_div {
                margin-bottom: 9px;
            }
            #change_password_submit_button {
                margin-top: 19px;
                margin-bottom: 42px;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active,
            .btn-outline-secondary:not(:disabled):not(.disabled):active,
            .show>.btn-outline-secondary.dropdown-toggle {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary:hover {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary.focus,
            .btn-outline-secondary:focus {
                box-shadow: none;
            }
            .btn.focus,
            .btn:focus {
                outline: 0;
                box-shadow: none;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
            .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
            .show>.btn-outline-secondary.dropdown-toggle:focus {
                box-shadow: none;
            }
        }

        /* Extra small devices (portrait phones, 375px and up) */

        @media (min-width: 375px) and (max-width: 424.98px) {

            #title {
                text-align: center;
                font-size: 43px;
                margin-top: 50px;
                margin-bottom: 31px;
            }
            #change_password_form {
                display: flex;
                flex-direction: column;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
            #change_password_new_div {
                margin-bottom: 9px;
            }
            #change_password_submit_button {
                margin-top: 19px;
                margin-bottom: 42px;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active,
            .btn-outline-secondary:not(:disabled):not(.disabled):active,
            .show>.btn-outline-secondary.dropdown-toggle {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary:hover {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary.focus,
            .btn-outline-secondary:focus {
                box-shadow: none;
            }
            .btn.focus,
            .btn:focus {
                outline: 0;
                box-shadow: none;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
            .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
            .show>.btn-outline-secondary.dropdown-toggle:focus {
                box-shadow: none;
            }
        }

        /* Small devices (landscape phones, 425px and up) */

        @media (min-width: 425px) and (max-width: 767.98px) {

            #title {
                text-align: center;
                font-size: 47px;
                margin-top: 50px;
                margin-bottom: 31px;
            }
            #change_password_form {
                display: flex;
                flex-direction: column;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
            #change_password_new_div {
                margin-bottom: 9px;
            }
            #change_password_submit_button {
                margin-top: 19px;
                margin-bottom: 42px;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active,
            .btn-outline-secondary:not(:disabled):not(.disabled):active,
            .show>.btn-outline-secondary.dropdown-toggle {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary:hover {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary.focus,
            .btn-outline-secondary:focus {
                box-shadow: none;
            }
            .btn.focus,
            .btn:focus {
                outline: 0;
                box-shadow: none;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
            .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
            .show>.btn-outline-secondary.dropdown-toggle:focus {
                box-shadow: none;
            }
        }

        /* Medium devices (tablets, 768px and up) */

        @media (min-width: 768px) and (max-width: 991.98px) {
            #title {
                text-align: center;
                font-size: 55px;
                margin-top: 50px;
                margin-bottom: 29px;
            }
            #change_password_form {
                display: flex;
                flex-direction: column;
                width: 303px;
                margin-left: auto;
                margin-right: auto;
            }
            #change_password_new_div {
                margin-bottom: 9px;
            }
            #change_password_submit_button {
                margin-top: 19px;
                margin-bottom: 42px;
            }

            .btn-outline-secondary:not(:disabled):not(.disabled).active,
            .btn-outline-secondary:not(:disabled):not(.disabled):active,
            .show>.btn-outline-secondary.dropdown-toggle {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary:hover {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary.focus,
            .btn-outline-secondary:focus {
                box-shadow: none;
            }
            .btn.focus,
            .btn:focus {
                outline: 0;
                box-shadow: none;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
            .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
            .show>.btn-outline-secondary.dropdown-toggle:focus {
                box-shadow: none;
            }
        }

        /* Large devices (desktops, 992px and up) */

        @media (min-width: 992px) and (max-width: 1199.98px) {
            #title {
                text-align: center;
                font-size: 55px;
                margin-top: 50px;
                margin-bottom: 29px;
            }
            #change_password_form {
                display: flex;
                flex-direction: column;
                width: 303px;
                margin-left: auto;
                margin-right: auto;
            }
            #change_password_new_div {
                margin-bottom: 9px;
            }
            #change_password_submit_button {
                margin-top: 19px;
                margin-bottom: 42px;
            }
        }

        /* Extra large devices (large desktops, 1200px and up) */

        @media (min-width: 1200px) and (max-width: 2559.98px) {
            #title {
                text-align: center;
                font-size: 55px;
                margin-top: 50px;
                margin-bottom: 29px;
            }
            #change_password_form {
                display: flex;
                flex-direction: column;
                width: 303px;
                margin-left: auto;
                margin-right: auto;
            }
            #change_password_new_div {
                margin-bottom: 9px;
            }
            #change_password_submit_button {
                margin-top: 19px;
                margin-bottom: 42px;
            }
        }

        /* Extra large devices (super desktops, 2560px and up) */

        @media (min-width: 2560px) {
            #title {
                text-align: center;
                font-size: 55px;
                margin-top: 50px;
                margin-bottom: 29px;
            }
            #change_password_form {
                display: flex;
                flex-direction: column;
                width: 303px;
                margin-left: auto;
                margin-right: auto;
            }
            #change_password_new_div {
                margin-bottom: 9px;
            }
            #change_password_submit_button {
                margin-top: 19px;
                margin-bottom: 42px;
            }
        }

        #home {
            text-align: center;
        }

        /* No media query since the extra-large breakpoint has no upper bound on its width */
    </style>
    <title>Brand name - change password</title>
</head>

<body>
    <div id="outermost_container">
        <div id="title">Change password</div>
        <form id="change_password_form" method="post" action="/change_password">
            <div id="change_password_new_div">
                <label for="change_password_new">PASSWORD</label>
                <input id="change_password_new" class="form-control is-invalid" type="password" name="change_password_new" placeholder="Enter password">
                <p id="change_password_required" class="invalid-feedback">upper, lower, number, special, 10~16 long</p>
            </div>
            <div id="change_password_new_confirm_div">
                <label for="change_password_new_confirm">PASSWORD_CONFIRM</label>
                <input id="change_password_new_confirm" class="form-control is-invalid" type="password" placeholder="Enter password again">
                <p id="change_password_confirm_required" class="invalid-feedback">INCORRECT</p>
            </div>

            <button id="change_password_submit_button" type="submit" class="btn btn-outline-secondary">Change password</button>
            <a id="home" href="/">Home</a>
        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="../public/jquery.jsonrpc.js"></script>
    <script>
        (jQuery)(function($) {
            $.jsonRPC.setup({
                endPoint: '/api',
                namespace: ''
            });

            // 비밀번호 검사 정규표현식
            var password_pattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[\`\~\!\@\#\$\%\^\&\*\(\)\-\_\=\+\\\|\[\{\]\}\;\:\'\"\,\<\.\>\/\?])([a-zA-Z0-9\`\~\!\@\#\$\%\^\&\*\(\)\-\_\=\+\\\|\[\{\]\}\;\:\'\"\,\<\.\>\/\?]{10,16})$/;


            // 비밀번호 소문자 존재 검사 정규표현식
            var password_lower_case_alphabet_pattern = /[a-z]+/;
            // 비밀번호 대문자 존재 검사 정규표현식
            var password_upper_case_alphabet_pattern = /[A-Z]+/;
            // 비밀번호 number 존재 검사 정규표현식
            var password_digit_pattern = /[0-9]+/;
            // 비밀번호 special 존재 검사 정규표현식
            var password_special_letters_pattern = /[\`\~\!\@\#\$\%\^\&\*\(\)\-\_\=\+\\\|\[\{\]\}\;\:\'\"\,\<\.\>\/\?]+/;
            // 비밀번호 길이 검사 정규표현식
            var password_length_pattern = /[a-zA-Z0-9\`\~\!\@\#\$\%\^\&\*\(\)\-\_\=\+\\\|\[\{\]\}\;\:\'\"\,\<\.\>\/\?]{10,16}/;

            // 실시간 비밀번호 필요조건 표시 위한 배열
            var change_password_required_arr = ["upper", "lower", "number", "special", "10~16 long", "ok"];

            // 선택 반복 번거로움 해결 위해 자바 스크립트 변수에 할당
            var change_password_form = $("#change_password_form");
            var change_password_new = $("#change_password_new");
            var change_password_new_confirm = $("#change_password_new_confirm");

            // 비밀번호 유효성 검사 (키 누를 때 마다 변경)
            change_password_new.keyup(function() {

                if (password_pattern.test(change_password_new.val())) {
                    // 비밀번호 필요조건을 모두 만족했을 때, 필요조건 메시지를 초록색 "OK"로 출력
                    $('#change_password_new').attr('class', 'form-control is-valid');
                    $("#change_password_required").attr('class', 'valid-feedback');
                    $("#change_password_required").text("OK");
                } else {
                    // 비밀번호 letter 대문자 존재 검사 정규표현식 만족 여부에 따라, 비밀번호 검사 배열의 letter 대문자 해당 값 변경
                    if (password_upper_case_alphabet_pattern.test(change_password_new.val()) == false) {
                        // 불만족 시 "upper"
                        change_password_required_arr[0] = "upper";
                    } else {
                        // 만족 시 "ok"
                        change_password_required_arr[0] = "ok";
                    }
                    // 비밀번호 letter 소문자 존재 검사 정규표현식 만족 여부에 따라, 비밀번호 검사 배열의 letter 소문자 해당 값 변경
                    if (password_lower_case_alphabet_pattern.test(change_password_new.val()) == false) {
                        // 불만족 시 "lower"
                        change_password_required_arr[1] = "lower";
                    } else {
                        // 만족 시 "ok"
                        change_password_required_arr[1] = "ok";
                    }
                    // 비밀번호 number 존재 검사 정규표현식 만족 여부에 따라, 비밀번호 검사 배열의 number 해당 값 변경
                    if (password_digit_pattern.test(change_password_new.val()) == false) {
                        // 불만족 시 "number"
                        change_password_required_arr[2] = "number";
                    } else {
                        // 만족 시 "ok"
                        change_password_required_arr[2] = "ok";
                    }
                    // 비밀번호 special 존재 검사 정규표현식 만족 여부에 따라, 비밀번호 검사 배열의 special 해당 값 변경
                    if (password_special_letters_pattern.test(change_password_new.val()) == false) {
                        // 불만족 시 "special"
                        change_password_required_arr[3] = "special";
                    } else {
                        // 만족 시 "ok"
                        change_password_required_arr[3] = "ok";
                    }
                    // 비밀번호 길이 검사 정규표현식 만족 여부에 따라, 비밀번호 검사 배열의 길이 해당 값 변경
                    if (password_length_pattern.test(change_password_new.val()) == false) {
                        // 불만족 시 "10~16 long"
                        change_password_required_arr[4] = "10~16 long";
                    } else {
                        // 만족 시 "ok"
                        change_password_required_arr[4] = "ok";
                    }

                    // 결과 출력을 위한 문자열을 변수에 할당
                    var result = "";

                    // 비밀번호를 입력할 때 마다 비밀번호 필요조건 배열에서 충족되지 못한 조건 출력

                    // 모든 비밀번호 필요조건 배열 원소들에 대해
                    for (var i = 0; i < change_password_required_arr.length - 1; i++) {
                        // comma 변수를 일단 false로 초기화 하고,
                        var comma = false;
                        // 불만족 필요조건이 있으면,
                        if (change_password_required_arr[i] != "ok") {
                            // 필요조건 결과 문자열에 추가하고,
                            result += change_password_required_arr[i];
                            // 그 이후 불만족 필요조건이 있는지 모두 검사해서
                            for (var j = i + 1; j < change_password_required_arr.length; j++) {
                                // 불만족 필요조건이 있으면,
                                if (change_password_required_arr[j] != "ok") {
                                    // 콤마(,)가 필요하므로 콤마 변수값을 true로 변경한다.
                                    comma = true;
                                }
                            }
                            // comma 변수값이 true이면, 필요조건 결과 문자열에 ", " 추가
                            if (comma == true) {
                                result += ", ";
                            }
                        }
                    }
                    // 아이디 필요조건을 모두 만족시키지 못했을 경우, 빨간 글씨로 만족되지 못한 필요조건을 출력한다.
                    $('#change_password_new').attr('class', 'form-control is-invalid');
                    $("#change_password_required").attr('class', 'invalid-feedback');
                    $("#change_password_required").text(result);

                }
            });

            // 비밀번호 확인 유효성 검사 (키 누를 때 마다 변경)
            change_password_new_confirm.keyup(function() {
                // 만약 비밀번호와 비밀번호 확인 폼의 값이 서로 같으면
                if (change_password_new.val() == change_password_new_confirm.val()) {
                    // 초록색 "OK"를 출력
                    $('#change_password_new_confirm').attr('class', 'form-control is-valid');
                    $("#change_password_confirm_required").attr('class', 'valid-feedback');
                    $("#change_password_confirm_required").text("CORRECT");
                } else {
                    // 서로 다르면, 빨간색 "incorrect"를 출력
                    $('#change_password_new_confirm').attr('class', 'form-control is-invalid');
                    $("#change_password_confirm_required").attr('class', 'invalid-feedback');
                    $("#change_password_confirm_required").text("INCORRECT");
                }
            });

            // 회원가입 버튼을 눌렀을 때(폼 양식 제출 시에),
            change_password_form.submit(function() {
                // 입력 아이디가 아이디 필요조건에 완전히 충족되지 않으면,
                if (password_pattern.test(change_password_new.val()) != true) {
                    // 경고창 출력 후,
                    alert("Please enter an PASSWORD that matches criteria.");
                    // 비밀번호 입력 input 태그에 포커스를 주고,
                    change_password_new.focus();
                    // submit(제출)을 취소한다.
                    return false;
                    // 비밀번호 값과 비밀번호 확인 값이 서로 같지 않으면,
                } else if (change_password_new.val() != change_password_new_confirm.val()) {
                    // 경고창 출력 후,
                    alert("PASSWORD and PASSWORD CONFIRM do not match.");
                    // 비밀번호 확인 입력 input 태그에 포커스를 주고,
                    change_password_new_confirm.focus();
                    // submit(제출)을 취소한다.
                    return false;
                }
            });
        });
    </script>
</body>

</html>
