<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <style>
        /* Extra small devices (portrait phones, 375px and up) */

        @media (max-width: 319.98px) {
            #title{
                font-size: 36px;
                margin-top: 28px;
                margin-bottom: 21px;
                text-align: center;
            }
            #post_counselor_form{
                display: flex;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
                width: 85%;
            }
            #post_counselor_button{
                margin-top: 15px;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active,
            .btn-outline-secondary:not(:disabled):not(.disabled):active,
            .show>.btn-outline-secondary.dropdown-toggle {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary:hover {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary.focus,
            .btn-outline-secondary:focus {
                box-shadow: none;
            }
            .btn.focus,
            .btn:focus {
                outline: 0;
                box-shadow: none;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
            .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
            .show>.btn-outline-secondary.dropdown-toggle:focus {
                box-shadow: none;
            }
        }

        /* Extra small devices (portrait phones, 320px and up) */

        @media (min-width: 320px) and (max-width: 374.98px) {
            #title{
                font-size: 36px;
                margin-top: 28px;
                margin-bottom: 21px;
                text-align: center;
            }
            #post_counselor_form{
                display: flex;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
                width: 85%;
            }
            #post_counselor_button{
                margin-top: 15px;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active,
            .btn-outline-secondary:not(:disabled):not(.disabled):active,
            .show>.btn-outline-secondary.dropdown-toggle {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary:hover {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary.focus,
            .btn-outline-secondary:focus {
                box-shadow: none;
            }
            .btn.focus,
            .btn:focus {
                outline: 0;
                box-shadow: none;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
            .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
            .show>.btn-outline-secondary.dropdown-toggle:focus {
                box-shadow: none;
            }
        }

        /* Extra small devices (portrait phones, 375px and up) */

        @media (min-width: 375px) and (max-width: 424.98px) {
            #title{
                font-size: 42px;
                margin-top: 40px;
                margin-bottom: 30px;
                text-align: center;
            }
            #post_counselor_form{
                display: flex;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
                width: 85%;
            }
            #post_counselor_button{
                margin-top: 15px;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active,
            .btn-outline-secondary:not(:disabled):not(.disabled):active,
            .show>.btn-outline-secondary.dropdown-toggle {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary:hover {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary.focus,
            .btn-outline-secondary:focus {
                box-shadow: none;
            }
            .btn.focus,
            .btn:focus {
                outline: 0;
                box-shadow: none;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
            .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
            .show>.btn-outline-secondary.dropdown-toggle:focus {
                box-shadow: none;
            }
        }

        /* Small devices (landscape phones, 425px and up) */

        @media (min-width: 425px) and (max-width: 767.98px) {
            #title{
                font-size: 47px;
                margin-top: 50px;
                margin-bottom: 30px;
                text-align: center;
            }
            #post_counselor_form{
                display: flex;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
                width: 85%;
            }
            #post_counselor_button{
                margin-top: 15px;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active,
            .btn-outline-secondary:not(:disabled):not(.disabled):active,
            .show>.btn-outline-secondary.dropdown-toggle {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary:hover {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary.focus,
            .btn-outline-secondary:focus {
                box-shadow: none;
            }
            .btn.focus,
            .btn:focus {
                outline: 0;
                box-shadow: none;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
            .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
            .show>.btn-outline-secondary.dropdown-toggle:focus {
                box-shadow: none;
            }
        }

        /* Medium devices (tablets, 768px and up) */

        @media (min-width: 768px) and (max-width: 991.98px) {
            #title{
                font-size: 47px;
                margin-top: 50px;
                margin-bottom: 30px;
                text-align: center;
            }
            #post_counselor_form{
                display: flex;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
                width: 430px;
            }
            #post_counselor_button{
                margin-top: 15px;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active,
            .btn-outline-secondary:not(:disabled):not(.disabled):active,
            .show>.btn-outline-secondary.dropdown-toggle {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary:hover {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary.focus,
            .btn-outline-secondary:focus {
                box-shadow: none;
            }
            .btn.focus,
            .btn:focus {
                outline: 0;
                box-shadow: none;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
            .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
            .show>.btn-outline-secondary.dropdown-toggle:focus {
                box-shadow: none;
            }
        }

        /* Large devices (desktops, 992px and up) */

        @media (min-width: 992px) and (max-width: 1199.98px) {
            #title{
                font-size: 47px;
                margin-top: 50px;
                margin-bottom: 30px;
                text-align: center;
            }
            #post_counselor_form{
                display: flex;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
                width: 430px;
            }
            #post_counselor_button{
                margin-top: 15px;
            }
        }

        /* Extra large devices (large desktops, 1200px and up) */

        @media (min-width: 1200px) and (max-width: 2559.98px) {
            #title{
                font-size: 47px;
                margin-top: 50px;
                margin-bottom: 30px;
                text-align: center;
            }
            #post_counselor_form{
                display: flex;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
                width: 430px;
            }
            #post_counselor_button{
                margin-top: 15px;
            }

        }

        /* Extra large devices (super desktops, 2560px and up) */

        @media (min-width: 2560px) {
            #title{
                font-size: 47px;
                margin-top: 50px;
                margin-bottom: 30px;
                text-align: center;
            }
            #post_counselor_form{
                display: flex;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
                width: 430px;
            }
            #post_counselor_button{
                margin-top: 15px;
            }
        }
        #home_link {
            text-align: center;
             margin-top: 35px;
             margin-bottom: 150px;
        }

        /* No media query since the extra-large breakpoint has no upper bound on its width */
    </style>
    <title>Counselor registration</title>
</head>
<body>

    <div id="title">Counselor registration</div>
    <form  id="post_counselor_form" method="post" action="/post_consultation_counselor" >
        <div class="form-group">
            <label for="post_counselor_title">Title</label>
            <input type="text" id="post_counselor_title" class="form-control" name="post_counselor_title" >
        </div>
        <div class="form-group">
            <label for="post_counselor_type_write">Consultation type</label>
            <input type="text" id="post_counselor_type_write" class="form-control" name="post_counselor_type_write" placeholder="Love, study, career, depression, etc.">
        </div>
        <div class="form-group">
            <label for="post_counselor_contents">Registration contents</label>
            <textarea id="post_counselor_contents" class="form-control" name="post_counselor_contents" rows="10" placeholder="Self introduction, career, education, qualification, professional counseling field, counseling price, SNS account ID to consult, etc."></textarea>
        </div>
        <button id="post_counselor_button" class="btn btn-outline-secondary" type="submit">Post</button>
        <a href="/" id="home_link">Home</a>
    </form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script>
        (jQuery)(function($) {
            var post_counselor_record_tmp = <%= post_counselor_record_rendering %>
            var post_counselor_title_tmp = <%= post_counselor_title_rendering %>
            var post_counselor_type_write_tmp = <%= post_counselor_type_write_rendering %>
            var post_counselor_contents_tmp = <%= post_counselor_contents_rendering %>
            console.log('post_counselor_record : ', post_counselor_record_tmp);
            console.log('post_counselor_title_tmp : ', post_counselor_title_tmp);
            console.log('post_counselor_type_write_tmp : ', post_counselor_type_write_tmp);
            console.log('post_counselor_contents_tmp : ', post_counselor_contents_tmp);

            if(post_counselor_record_tmp){
                $('#post_counselor_title').val('post_counselor_title_tmp');
                $('#post_counselor_type_write').val('post_counselor_type_write_tmp');
                $('#post_counselor_contents').val('post_counselor_contents_tmp');
            }

            $('#post_counselor_form').submit(function() {
                if($('#post_counselor_title').val().length < 10){
                    // 경고창 출력 후,
                    alert("Please enter a title of at least 10 characters.");
                    // 탈퇴 사유 텍스트 입력 input에 포커스를 주고,
                    $('#post_counselor_title').focus();
                    // submit(제출)을 취소한다.
                    return false;
                }else if($('#post_counselor_type_write').val().length < 10){
                    // 경고창 출력 후,
                    alert("Please enter a consultation type of at least 10 characters.");
                    // 탈퇴 사유 텍스트 입력 input에 포커스를 주고,
                    $('#post_counselor_type_write').focus();
                    // submit(제출)을 취소한다.
                    return false;
                }else if($('#post_counselor_contents').val().length < 50){
                    // 경고창 출력 후,
                    alert("Please enter a registration contents of at least 50 characters.");
                    // 탈퇴 사유 텍스트 입력 input에 포커스를 주고,
                    $('#post_counselor_contents').focus();
                    // submit(제출)을 취소한다.
                    return false;
                }
            });
        });
    </script>
</body>

</html>
