<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <style>
        /* Extra small devices (portrait phones, 375px and up) */

        @media (max-width: 319.98px) {

            #outermost_container {
                display: flex;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
            }
            #signin_box {
                margin-top: 49px;
            }
            #title {
                text-align: center;
                font-size: 75px;
                margin-bottom: 18px;
            }
            #signin_form {
                display: flex;
                flex-direction: column;
            }
            #signup_user_email_div {
                margin-bottom: 8px;
            }
            #signin_user_password_div {
                margin-bottom: 38px;
            }
            #home,
            #find_account {
                text-align: center;
            }
            #find_account {
                margin-top: 30px;
                margin-bottom: 15px;
            }
            #home {
                margin-bottom: 100px;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active,
            .btn-outline-secondary:not(:disabled):not(.disabled):active,
            .show>.btn-outline-secondary.dropdown-toggle {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary:hover {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary.focus,
            .btn-outline-secondary:focus {
                box-shadow: none;
            }
            .btn.focus,
            .btn:focus {
                outline: 0;
                box-shadow: none;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
            .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
            .show>.btn-outline-secondary.dropdown-toggle:focus {
                box-shadow: none;
            }
        }

        /* Extra small devices (portrait phones, 320px and up) */

        @media (min-width: 320px) and (max-width: 374.98px) {

            #outermost_container {
                display: flex;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
            }
            #signin_box {
                margin-top: 49px;
            }
            #title {
                text-align: center;
                font-size: 75px;
                margin-bottom: 18px;
            }
            #signin_form {
                display: flex;
                flex-direction: column;
            }
            #signup_user_email_div {
                margin-bottom: 8px;
            }
            #signin_user_password_div {
                margin-bottom: 38px;
            }
            #home,
            #find_account {
                text-align: center;
            }
            #find_account {
                margin-top: 30px;
                margin-bottom: 15px;
            }
            #home {
                margin-bottom: 100px;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active,
            .btn-outline-secondary:not(:disabled):not(.disabled):active,
            .show>.btn-outline-secondary.dropdown-toggle {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary:hover {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary.focus,
            .btn-outline-secondary:focus {
                box-shadow: none;
            }
            .btn.focus,
            .btn:focus {
                outline: 0;
                box-shadow: none;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
            .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
            .show>.btn-outline-secondary.dropdown-toggle:focus {
                box-shadow: none;
            }
        }

        /* Extra small devices (portrait phones, 375px and up) */

        @media (min-width: 375px) and (max-width: 424.98px) {

            #outermost_container {
                display: flex;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
            }
            #signin_box {
                margin-top: 49px;
            }
            #title {
                text-align: center;
                font-size: 75px;
                margin-bottom: 18px;
            }
            #signin_form {
                display: flex;
                flex-direction: column;
            }
            #signup_user_email_div {
                margin-bottom: 8px;
            }
            #signin_user_password_div {
                margin-bottom: 38px;
            }
            #home,
            #find_account {
                text-align: center;
            }
            #find_account {
                margin-top: 30px;
                margin-bottom: 15px;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active,
            .btn-outline-secondary:not(:disabled):not(.disabled):active,
            .show>.btn-outline-secondary.dropdown-toggle {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary:hover {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary.focus,
            .btn-outline-secondary:focus {
                box-shadow: none;
            }
            .btn.focus,
            .btn:focus {
                outline: 0;
                box-shadow: none;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
            .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
            .show>.btn-outline-secondary.dropdown-toggle:focus {
                box-shadow: none;
            }
        }

        /* Small devices (landscape phones, 425px and up) */

        @media (min-width: 425px) and (max-width: 767.98px) {

            #outermost_container {
                display: flex;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
            }
            #signin_box {
                margin-top: 49px;
            }
            #title {
                text-align: center;
                font-size: 75px;
                margin-bottom: 18px;
            }
            #signin_form {
                display: flex;
                flex-direction: column;
            }
            #signup_user_email_div {
                margin-bottom: 8px;
            }
            #signin_user_password_div {
                margin-bottom: 38px;
            }
            #home,
            #find_account {
                text-align: center;
            }
            #find_account {
                margin-top: 30px;
                margin-bottom: 15px;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active,
            .btn-outline-secondary:not(:disabled):not(.disabled):active,
            .show>.btn-outline-secondary.dropdown-toggle {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary:hover {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary.focus,
            .btn-outline-secondary:focus {
                box-shadow: none;
            }
            .btn.focus,
            .btn:focus {
                outline: 0;
                box-shadow: none;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
            .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
            .show>.btn-outline-secondary.dropdown-toggle:focus {
                box-shadow: none;
            }
        }

        /* Medium devices (tablets, 768px and up) */

        @media (min-width: 768px) and (max-width: 991.98px) {

            #outermost_container {
                display: flex;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
                width: 350px;
            }
            #signin_box {
                margin-top: 49px;
            }
            #title {
                text-align: center;
                font-size: 75px;
                margin-bottom: 18px;
            }
            #signin_form {
                display: flex;
                flex-direction: column;
            }
            #signup_user_email_div {
                margin-bottom: 8px;
            }
            #signin_user_password_div {
                margin-bottom: 38px;
            }
            #home,
            #find_account {
                text-align: center;
            }
            #find_account {
                margin-top: 30px;
                margin-bottom: 15px;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active,
            .btn-outline-secondary:not(:disabled):not(.disabled):active,
            .show>.btn-outline-secondary.dropdown-toggle {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary:hover {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary.focus,
            .btn-outline-secondary:focus {
                box-shadow: none;
            }
            .btn.focus,
            .btn:focus {
                outline: 0;
                box-shadow: none;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
            .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
            .show>.btn-outline-secondary.dropdown-toggle:focus {
                box-shadow: none;
            }
        }

        /* Large devices (desktops, 992px and up) */

        @media (min-width: 992px) and (max-width: 1199.98px) {

            #outermost_container {
                display: flex;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
                width: 350px;
            }
            #signin_box {
                margin-top: 49px;
            }
            #title {
                text-align: center;
                font-size: 75px;
                margin-bottom: 18px;
            }
            #signin_form {
                display: flex;
                flex-direction: column;
            }
            #signup_user_email_div {
                margin-bottom: 8px;
            }
            #signin_user_password_div {
                margin-bottom: 38px;
            }
            #home,
            #find_account {
                text-align: center;
            }
            #find_account {
                margin-top: 30px;
                margin-bottom: 15px;
            }
        }

        /* Extra large devices (large desktops, 1200px and up) */

        @media (min-width: 1200px) and (max-width: 2559.98px) {

            #outermost_container {
                display: flex;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
                width: 350px;
            }
            #signin_box {
                margin-top: 49px;
            }
            #title {
                text-align: center;
                font-size: 75px;
                margin-bottom: 18px;
            }
            #signin_form {
                display: flex;
                flex-direction: column;
            }
            #signup_user_email_div {
                margin-bottom: 8px;
            }
            #signin_user_password_div {
                margin-bottom: 38px;
            }
            #home,
            #find_account {
                text-align: center;
            }
            #find_account {
                margin-top: 30px;
                margin-bottom: 15px;
            }
        }

        /* Extra large devices (super desktops, 2560px and up) */

        @media (min-width: 2560px) {

            #outermost_container {
                display: flex;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
                width: 350px;
            }
            #signin_box {
                margin-top: 49px;
            }
            #title {
                text-align: center;
                font-size: 75px;
                margin-bottom: 18px;
            }
            #signin_form {
                display: flex;
                flex-direction: column;
            }
            #signup_user_email_div {
                margin-bottom: 8px;
            }
            #signin_user_password_div {
                margin-bottom: 38px;
            }
            #home,
            #find_account {
                text-align: center;
            }
            #find_account {
                margin-top: 30px;
                margin-bottom: 15px;
            }
        }

        /* No media query since the extra-large breakpoint has no upper bound on its width */
    </style>
    <title>Brand name - sign-in</title>
</head>

<body>

    <div id="outermost_container">
        <div id="signin_box">
            <div id="title">Sign-in</div>
            <form id="signin_form" method="post" action="/signin">
                <div id="signup_user_email_div" class="form-group">
                    <label for="signup_user_email">Email</label>
                    <input id="signup_user_email" class="form-control" type="text" name="signup_user_email">
                </div>
                <div id="signin_user_password_div" class="form-group">
                    <label for="signin_user_password">PASSWORD</label>
                    <input id="signin_user_password" class="form-control" type="password" name="signin_user_password">
                </div>
                <button id="local_signin_button" class="btn btn-outline-secondary" type="submit">sign-in</button>
                <button id="google_signin_button">google sign-in</button>
                <button id="facebook_signin_button">facebook sign-in</button>
                <button id="kakao_signin_button">kakao sign-in</button>
                <a id="find_account" href="/find_account_page">Find-account</a>
                <a id="home" href="/">Home</a>
            </form>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script>
        (jQuery)(function($) {});
    </script>
</body>

</html>
