<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <style>
        /* Extra small devices (portrait phones, 375px and up) */

        @media (max-width: 319.98px) {

            #title {
                font-size: 30px;
                margin-top: 35px;
            }
            #withdrawal_reason_form {
                width: 85%;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                flex-direction: column;
            }
            #withdrawal_reason_text_label {
                font-size: 11px;
            }
            #withdrawal_reason_selected {
                height: 31px;
                margin-top: 27px;
                margin-bottom: 18px;
                font-size: 10px;
            }
            #withdrawal_button {
                margin-top: 16px;
                margin-bottom: 100px;
                height: 31px;
                font-size: 13px;
                line-height: 12px;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active,
            .btn-outline-secondary:not(:disabled):not(.disabled):active,
            .show>.btn-outline-secondary.dropdown-toggle {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary:hover {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary.focus,
            .btn-outline-secondary:focus {
                box-shadow: none;
            }
            .btn.focus,
            .btn:focus {
                outline: 0;
                box-shadow: none;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
            .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
            .show>.btn-outline-secondary.dropdown-toggle:focus {
                box-shadow: none;
            }
        }

        /* Extra small devices (portrait phones, 320px and up) */

        @media (min-width: 320px) and (max-width: 374.98px) {
            #title {
                font-size: 32px;
                margin-top: 34px;
            }
            #withdrawal_reason_form {
                width: 85%;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                flex-direction: column;
            }
            #withdrawal_reason_text_label {
                font-size: 12px;
            }
            #withdrawal_reason_selected {
                height: 37px;
                margin-top: 30px;
                margin-bottom: 17px;
                font-size: 11px;
            }
            #withdrawal_button {
                margin-top: 17px;
                margin-bottom: 100px;
                height: 32px;
                font-size: 14px;
                line-height: 12px;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active,
            .btn-outline-secondary:not(:disabled):not(.disabled):active,
            .show>.btn-outline-secondary.dropdown-toggle {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary:hover {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary.focus,
            .btn-outline-secondary:focus {
                box-shadow: none;
            }
            .btn.focus,
            .btn:focus {
                outline: 0;
                box-shadow: none;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
            .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
            .show>.btn-outline-secondary.dropdown-toggle:focus {
                box-shadow: none;
            }
        }

        /* Extra small devices (portrait phones, 375px and up) */

        @media (min-width: 375px) and (max-width: 424.98px) {

            #title {
                font-size: 37px;
                margin-top: 34px;
            }
            #withdrawal_reason_form {
                width: 85%;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                flex-direction: column;
            }
            #withdrawal_reason_text_label {
                font-size: 15px;
            }
            #withdrawal_reason_selected {
                height: 39px;
                margin-top: 30px;
                margin-bottom: 21px;
                font-size: 13px;
            }
            #withdrawal_button {
                margin-top: 17px;
                margin-bottom: 100px;
                height: 38px;
                font-size: 15px;
                line-height: 12px;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active,
            .btn-outline-secondary:not(:disabled):not(.disabled):active,
            .show>.btn-outline-secondary.dropdown-toggle {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary:hover {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary.focus,
            .btn-outline-secondary:focus {
                box-shadow: none;
            }
            .btn.focus,
            .btn:focus {
                outline: 0;
                box-shadow: none;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
            .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
            .show>.btn-outline-secondary.dropdown-toggle:focus {
                box-shadow: none;
            }
        }

        /* Small devices (landscape phones, 425px and up) */

        @media (min-width: 425px) and (max-width: 767.98px) {

            #title {
                font-size: 42px;
                margin-top: 47px;
            }
            #withdrawal_reason_form {
                width: 85%;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                flex-direction: column;
            }
            #withdrawal_reason_selected {
                height: 43px;
                margin-top: 33px;
                margin-bottom: 31px;
                font-size: 15px;
            }
            #withdrawal_button {
                margin-top: 29px;
                margin-bottom: 100px;
                height: 38px;
                font-size: 19px;
                line-height: 12px;
            }


            .btn-outline-secondary:not(:disabled):not(.disabled).active,
            .btn-outline-secondary:not(:disabled):not(.disabled):active,
            .show>.btn-outline-secondary.dropdown-toggle {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary:hover {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary.focus,
            .btn-outline-secondary:focus {
                box-shadow: none;
            }
            .btn.focus,
            .btn:focus {
                outline: 0;
                box-shadow: none;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
            .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
            .show>.btn-outline-secondary.dropdown-toggle:focus {
                box-shadow: none;
            }
        }

        /* Medium devices (tablets, 768px and up) */

        @media (min-width: 768px) and (max-width: 991.98px) {

            #title {
                font-size: 43px;
                margin-top: 70px;
            }
            #withdrawal_reason_form {
                width: 453px;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                flex-direction: column;
            }
            #withdrawal_reason_selected {
                height: 43px;
                margin-top: 43px;
                margin-bottom: 39px;
                font-size: 18px;
            }
            #withdrawal_button {
                margin-top: 37px;
                margin-bottom: 100px;
                height: 41px;
                font-size: 19px;
                line-height: 12px;
            }

            .btn-outline-secondary:not(:disabled):not(.disabled).active,
            .btn-outline-secondary:not(:disabled):not(.disabled):active,
            .show>.btn-outline-secondary.dropdown-toggle {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary:hover {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary.focus,
            .btn-outline-secondary:focus {
                box-shadow: none;
            }
            .btn.focus,
            .btn:focus {
                outline: 0;
                box-shadow: none;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
            .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
            .show>.btn-outline-secondary.dropdown-toggle:focus {
                box-shadow: none;
            }
        }

        /* Large devices (desktops, 992px and up) */

        @media (min-width: 992px) and (max-width: 1199.98px) {
            #title {
                font-size: 43px;
                margin-top: 53px;
            }
            #withdrawal_reason_form {
                width: 446px;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                flex-direction: column;
            }
            #withdrawal_reason_selected {
                height: 43px;
                margin-top: 38px;
                margin-bottom: 39px;
                font-size: 18px;
            }
            #withdrawal_button {
                margin-top: 37px;
                margin-bottom: 100px;
                height: 41px;
                font-size: 19px;
                line-height: 12px;
            }
        }

        /* Extra large devices (large desktops, 1200px and up) */

        @media (min-width: 1200px) and (max-width: 2559.98px) {
            #title {
                font-size: 43px;
                margin-top: 68px;
            }
            #withdrawal_reason_form {
                width: 438px;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                flex-direction: column;
            }
            #withdrawal_reason_selected {
                height: 43px;
                text-align-last: center;
                margin-top: 53px;
                margin-bottom: 39px;
                font-size: 18px;
            }
            #withdrawal_button {
                margin-top: 37px;
                margin-bottom: 100px;
                height: 41px;
                font-size: 19px;
                line-height: 12px;
            }

        }

        /* Extra large devices (super desktops, 2560px and up) */

        @media (min-width: 2560px) {
            #title {
                font-size: 43px;
                margin-top: 68px;
            }
            #withdrawal_reason_form {
                width: 448px;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                flex-direction: column;
            }
            #withdrawal_reason_selected {
                height: 43px;
                text-align-last: center;
                margin-top: 53px;
                margin-bottom: 39px;
                font-size: 18px;
            }
            #withdrawal_button {
                margin-top: 37px;
                margin-bottom: 100px;
                height: 41px;
                font-size: 19px;
                line-height: 12px;
            }
        }

        #title {
            text-align: center;
        }

        #withdrawal_reason_selected {
            text-align-last: center;
        }

        /* No media query since the extra-large breakpoint has no upper bound on its width */
    </style>
    <title>withdrawal reason</title>
</head>

<body>
    <!--
    1. 탈퇴 사유 선택/작성
    2. 탈퇴 사유 데이터 수집
    3. 계정 데이터 데이터베이스에서 삭제(2주동안 재가입 불가)
     -->
    <div id="title">Withdrawal reason</div>
    <form id="withdrawal_reason_form" action="/withdrawal" method="post">
        <select id="withdrawal_reason_selected" class="form-control" name="withdrawal_reason_selected">
            <option value="a" selected="selected">Please select withdrawal reason.</option>
            <option value="b">This service is not needed for me.</option>
            <option value="c">I do not like how this platform works.</option>
            <option value="d">I was feeling bad while using the service.</option>
            <option value="e" >I worry about leakage of personal information.</option>
            <option value="f" >Etc.</option>
        </select>
        <div id="withdrawal_reason_text_div" class="form-group">
            <label id="withdrawal_reason_text_label" for="withdrawal_reason_text">Please give 10 or more reasons for withdrawal.</label>
            <textarea id="withdrawal_reason_text" class="form-control" name="withdrawal_reason_text" rows="8" cols="60"></textarea>
        </div>
        <button id="withdrawal_button" class="btn btn-outline-secondary" type="submit">Withdrawal</button>
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script>
        (jQuery)(function($) {

            console.log($("#withdrawal_reason_selected option:selected").val());

            $('#withdrawal_reason_form').submit(function() {
                if ($("#withdrawal_reason_selected option:selected").val() == 'a') {
                    alert('Please select reasons for withdrawal from membership.');
                    $('#withdrawal_reason_selected').focus();
                    return false;
                } else if ($('#withdrawal_reason_text').val().length < 10) {
                    // 경고창 출력 후,
                    alert("Please enter 10 or more reasons for withdrawal from membership.");
                    // 탈퇴 사유 텍스트 입력 input에 포커스를 주고,
                    $('#withdrawal_reason_text').focus();
                    // submit(제출)을 취소한다.
                    return false;
                }
            });

        });
    </script>
</body>

</html>
