<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <style>
        /* Extra small devices (portrait phones, 375px and up) */

        @media (max-width: 319.98px) {

            #outermost_container{
                display: flex;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
            }
            #find_account_box{
                margin-top: 49px;
            }
            #title{
                text-align: center;
                font-size: 61px;
                margin-bottom: 20px;
            }
            #find_account_form{
                display: flex;
                flex-direction: column;
            }
            #changed_password_email_send_button{
                margin-top: 23px;
                margin-bottom: 35px;
            }
            #home_link{
                text-align: center;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active,
            .btn-outline-secondary:not(:disabled):not(.disabled):active,
            .show>.btn-outline-secondary.dropdown-toggle {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary:hover {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary.focus,
            .btn-outline-secondary:focus {
                box-shadow: none;
            }
            .btn.focus,
            .btn:focus {
                outline: 0;
                box-shadow: none;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
            .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
            .show>.btn-outline-secondary.dropdown-toggle:focus {
                box-shadow: none;
            }
        }

        /* Extra small devices (portrait phones, 320px and up) */

        @media (min-width: 320px) and (max-width: 374.98px) {

            #outermost_container{
                display: flex;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
            }
            #find_account_box{
                margin-top: 49px;
            }
            #title{
                text-align: center;
                font-size: 61px;
                margin-bottom: 20px;
            }
            #find_account_form{
                display: flex;
                flex-direction: column;
            }
            #changed_password_email_send_button{
                margin-top: 23px;
                margin-bottom: 35px;
            }
            #home_link{
                text-align: center;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active,
            .btn-outline-secondary:not(:disabled):not(.disabled):active,
            .show>.btn-outline-secondary.dropdown-toggle {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary:hover {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary.focus,
            .btn-outline-secondary:focus {
                box-shadow: none;
            }
            .btn.focus,
            .btn:focus {
                outline: 0;
                box-shadow: none;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
            .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
            .show>.btn-outline-secondary.dropdown-toggle:focus {
                box-shadow: none;
            }
        }

        /* Extra small devices (portrait phones, 375px and up) */

        @media (min-width: 375px) and (max-width: 424.98px) {

            #outermost_container{
                display: flex;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
            }
            #find_account_box{
                margin-top: 49px;
            }
            #title{
                text-align: center;
                font-size: 61px;
                margin-bottom: 20px;
            }
            #find_account_form{
                display: flex;
                flex-direction: column;
            }
            #changed_password_email_send_button{
                margin-top: 23px;
                margin-bottom: 35px;
            }
            #home_link{
                text-align: center;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active,
            .btn-outline-secondary:not(:disabled):not(.disabled):active,
            .show>.btn-outline-secondary.dropdown-toggle {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary:hover {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary.focus,
            .btn-outline-secondary:focus {
                box-shadow: none;
            }
            .btn.focus,
            .btn:focus {
                outline: 0;
                box-shadow: none;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
            .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
            .show>.btn-outline-secondary.dropdown-toggle:focus {
                box-shadow: none;
            }
        }

        /* Small devices (landscape phones, 425px and up) */

        @media (min-width: 425px) and (max-width: 767.98px) {

            #outermost_container{
                display: flex;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
            }
            #find_account_box{
                margin-top: 49px;
            }
            #title{
                text-align: center;
                font-size: 61px;
                margin-bottom: 20px;
            }
            #find_account_form{
                display: flex;
                flex-direction: column;
            }
            #changed_password_email_send_button{
                margin-top: 23px;
                margin-bottom: 35px;
            }
            #home_link{
                text-align: center;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active,
            .btn-outline-secondary:not(:disabled):not(.disabled):active,
            .show>.btn-outline-secondary.dropdown-toggle {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary:hover {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary.focus,
            .btn-outline-secondary:focus {
                box-shadow: none;
            }
            .btn.focus,
            .btn:focus {
                outline: 0;
                box-shadow: none;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
            .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
            .show>.btn-outline-secondary.dropdown-toggle:focus {
                box-shadow: none;
            }
        }

        /* Medium devices (tablets, 768px and up) */

        @media (min-width: 768px) and (max-width: 991.98px) {

            #outermost_container{
                display: flex;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
                width: 350px;
            }
            #find_account_box{
                margin-top: 49px;
            }
            #title{
                text-align: center;
                font-size: 61px;
                margin-bottom: 20px;
            }
            #find_account_form{
                display: flex;
                flex-direction: column;
            }
            #changed_password_email_send_button{
                margin-top: 23px;
                margin-bottom: 35px;
            }
            #home_link{
                text-align: center;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active,
            .btn-outline-secondary:not(:disabled):not(.disabled):active,
            .show>.btn-outline-secondary.dropdown-toggle {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary:hover {
                color: #6c757d;
                background-color: transparent;
                background-image: none;
                border-color: #6c757d;
            }
            .btn-outline-secondary.focus,
            .btn-outline-secondary:focus {
                box-shadow: none;
            }
            .btn.focus,
            .btn:focus {
                outline: 0;
                box-shadow: none;
            }
            .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
            .btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
            .show>.btn-outline-secondary.dropdown-toggle:focus {
                box-shadow: none;
            }
        }

        /* Large devices (desktops, 992px and up) */

        @media (min-width: 992px) and (max-width: 1199.98px) {

            #outermost_container{
                display: flex;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
                width: 350px;
            }
            #find_account_box{
                margin-top: 49px;
            }
            #title{
                text-align: center;
                font-size: 61px;
                margin-bottom: 20px;
            }
            #find_account_form{
                display: flex;
                flex-direction: column;
            }
            #changed_password_email_send_button{
                margin-top: 23px;
                margin-bottom: 35px;
            }
            #home_link{
                text-align: center;
            }
        }

        /* Extra large devices (large desktops, 1200px and up) */

        @media (min-width: 1200px) and (max-width: 2559.98px) {

            #outermost_container{
                display: flex;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
                width: 350px;
            }
            #find_account_box{
                margin-top: 49px;
            }
            #title{
                text-align: center;
                font-size: 61px;
                margin-bottom: 20px;
            }
            #find_account_form{
                display: flex;
                flex-direction: column;
            }
            #changed_password_email_send_button{
                margin-top: 23px;
                margin-bottom: 35px;
            }
            #home_link{
                text-align: center;
            }
        }

        /* Extra large devices (super desktops, 2560px and up) */

        @media (min-width: 2560px) {

            #outermost_container{
                display: flex;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
                width: 350px;
            }
            #find_account_box{
                margin-top: 49px;
            }
            #title{
                text-align: center;
                font-size: 61px;
                margin-bottom: 20px;
            }
            #find_account_form{
                display: flex;
                flex-direction: column;
            }
            #changed_password_email_send_button{
                margin-top: 23px;
                margin-bottom: 35px;
            }
            #home_link{
                text-align: center;
            }
        }

        /* No media query since the extra-large breakpoint has no upper bound on its width */
    </style>
    <title>Brand name - find_account</title>
</head>

<body>
    <div id="outermost_container">
        <div id="find_account_box">
            <div id="title">Find account</div>
                <form id="find_account_form" method="post" action="/send_changed_password">
                    <div id="find_account_user_email_box">
                        <label for="find_account_user_email">Email</label>
                        <div class="input-group mb-3">
                            <input id="find_account_user_email" name="find_account_user_email" class="form-control" type="email" placeholder="Enter email" aria-label="Enter email" aria-describedby="emailHelp">
                            <div class="input-group-append">
                                <button id="email_code_send_button" class="btn btn-outline-secondary" type="button">Send code</button>
                            </div>
                        </div>
                    </div>

                    <div id="find_account_user_email_confirm_code_box">
                        <label for="find_account_user_email_confirm_code">Email confirm code</label>
                        <div class="input-group mb-3">
                            <input id="find_account_user_email_confirm_code" name="find_account_user_email_confirm_code" class="form-control" type="text" placeholder="Enter code" aria-label="Enter code" aria-describedby="codeHelp">
                            <div class="input-group-append">
                                <button id="email_code_confirm_button" class="btn btn-outline-secondary" type="button">Confirm code</button>
                            </div>
                        </div>
                    </div>
                    <div id="find_account_user_password_div">
                        <label for="find_account_user_password">PASSWORD</label>
                        <input id="find_account_user_password" class="form-control is-invalid" type="password" name="find_account_user_password" placeholder="Enter password">
                        <p id="find_account_password_required" class="invalid-feedback">upper, lower, number, special, 10~16 long</p>
                    </div>
                    <div id="find_account_user_password_confirm_div">
                        <label for="find_account_user_password_confirm">PASSWORD_CONFIRM</label>
                        <input id="find_account_user_password_confirm" class="form-control is-invalid" type="password" placeholder="Enter password again">
                        <p id="find_account_password_confirm_required" class="invalid-feedback">INCORRECT</p>
                    </div>

                    <button id="find_account_submit_button" type="submit" class="btn btn-outline-secondary">Change password</button>

                    <br>

                    <a id="home_link" href="/">Home</a>
                </form>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="../public/jquery.jsonrpc.js"></script>
    <script>
        (jQuery)(function($) {
            $.jsonRPC.setup({
                endPoint: '/api',
                namespace: ''
            });

            var email_pattern = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;

            // 비밀번호 검사 정규표현식
            var password_pattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[\`\~\!\@\#\$\%\^\&\*\(\)\-\_\=\+\\\|\[\{\]\}\;\:\'\"\,\<\.\>\/\?])([a-zA-Z0-9\`\~\!\@\#\$\%\^\&\*\(\)\-\_\=\+\\\|\[\{\]\}\;\:\'\"\,\<\.\>\/\?]{10,16})$/;


            // 비밀번호 소문자 존재 검사 정규표현식
            var password_lower_case_alphabet_pattern = /[a-z]+/;
            // 비밀번호 대문자 존재 검사 정규표현식
            var password_upper_case_alphabet_pattern = /[A-Z]+/;
            // 비밀번호 number 존재 검사 정규표현식
            var password_digit_pattern = /[0-9]+/;
            // 비밀번호 special 존재 검사 정규표현식
            var password_special_letters_pattern = /[\`\~\!\@\#\$\%\^\&\*\(\)\-\_\=\+\\\|\[\{\]\}\;\:\'\"\,\<\.\>\/\?]+/;
            // 비밀번호 길이 검사 정규표현식
            var password_length_pattern = /[a-zA-Z0-9\`\~\!\@\#\$\%\^\&\*\(\)\-\_\=\+\\\|\[\{\]\}\;\:\'\"\,\<\.\>\/\?]{10,16}/;

            // 실시간 비밀번호 필요조건 표시 위한 배열
            var find_account_password_required_arr = ["upper", "lower", "number", "special", "10~16 long", "ok"];

            // 선택 반복 번거로움 해결 위해 자바 스크립트 변수에 할당
            var find_account_form = $("#find_account_form");
            var find_account_user_email = $("#find_account_user_email");
            var find_account_user_password = $("#find_account_user_password");
            var find_account_user_password_confirm = $("#find_account_user_password_confirm");

            // 비밀번호 유효성 검사 (키 누를 때 마다 변경)
            find_account_user_password.keyup(function() {

                if (password_pattern.test(find_account_user_password.val())) {
                    // 비밀번호 필요조건을 모두 만족했을 때, 필요조건 메시지를 초록색 "OK"로 출력
                    $('#find_account_user_password').attr('class', 'form-control is-valid');
                    $("#find_account_password_required").attr('class', 'valid-feedback');
                    $("#find_account_password_required").text("OK");
                } else {
                    // 비밀번호 letter 대문자 존재 검사 정규표현식 만족 여부에 따라, 비밀번호 검사 배열의 letter 대문자 해당 값 변경
                    if (password_upper_case_alphabet_pattern.test(find_account_user_password.val()) == false) {
                        // 불만족 시 "upper"
                        find_account_password_required_arr[0] = "upper";
                    } else {
                        // 만족 시 "ok"
                        find_account_password_required_arr[0] = "ok";
                    }
                    // 비밀번호 letter 소문자 존재 검사 정규표현식 만족 여부에 따라, 비밀번호 검사 배열의 letter 소문자 해당 값 변경
                    if (password_lower_case_alphabet_pattern.test(find_account_user_password.val()) == false) {
                        // 불만족 시 "lower"
                        find_account_password_required_arr[1] = "lower";
                    } else {
                        // 만족 시 "ok"
                        find_account_password_required_arr[1] = "ok";
                    }
                    // 비밀번호 number 존재 검사 정규표현식 만족 여부에 따라, 비밀번호 검사 배열의 number 해당 값 변경
                    if (password_digit_pattern.test(find_account_user_password.val()) == false) {
                        // 불만족 시 "number"
                        find_account_password_required_arr[2] = "number";
                    } else {
                        // 만족 시 "ok"
                        find_account_password_required_arr[2] = "ok";
                    }
                    // 비밀번호 special 존재 검사 정규표현식 만족 여부에 따라, 비밀번호 검사 배열의 special 해당 값 변경
                    if (password_special_letters_pattern.test(find_account_user_password.val()) == false) {
                        // 불만족 시 "special"
                        find_account_password_required_arr[3] = "special";
                    } else {
                        // 만족 시 "ok"
                        find_account_password_required_arr[3] = "ok";
                    }
                    // 비밀번호 길이 검사 정규표현식 만족 여부에 따라, 비밀번호 검사 배열의 길이 해당 값 변경
                    if (password_length_pattern.test(find_account_user_password.val()) == false) {
                        // 불만족 시 "10~16 long"
                        find_account_password_required_arr[4] = "10~16 long";
                    } else {
                        // 만족 시 "ok"
                        find_account_password_required_arr[4] = "ok";
                    }

                    // 결과 출력을 위한 문자열을 변수에 할당
                    var result = "";

                    // 비밀번호를 입력할 때 마다 비밀번호 필요조건 배열에서 충족되지 못한 조건 출력

                    // 모든 비밀번호 필요조건 배열 원소들에 대해
                    for (var i = 0; i < find_account_password_required_arr.length - 1; i++) {
                        // comma 변수를 일단 false로 초기화 하고,
                        var comma = false;
                        // 불만족 필요조건이 있으면,
                        if (find_account_password_required_arr[i] != "ok") {
                            // 필요조건 결과 문자열에 추가하고,
                            result += find_account_password_required_arr[i];
                            // 그 이후 불만족 필요조건이 있는지 모두 검사해서
                            for (var j = i + 1; j < find_account_password_required_arr.length; j++) {
                                // 불만족 필요조건이 있으면,
                                if (find_account_password_required_arr[j] != "ok") {
                                    // 콤마(,)가 필요하므로 콤마 변수값을 true로 변경한다.
                                    comma = true;
                                }
                            }
                            // comma 변수값이 true이면, 필요조건 결과 문자열에 ", " 추가
                            if (comma == true) {
                                result += ", ";
                            }
                        }
                    }
                    // 아이디 필요조건을 모두 만족시키지 못했을 경우, 빨간 글씨로 만족되지 못한 필요조건을 출력한다.
                    $('#find_account_user_password').attr('class', 'form-control is-invalid');
                    $("#find_account_password_required").attr('class', 'invalid-feedback');
                    $("#find_account_password_required").text(result);

                }
            });

            // 비밀번호 확인 유효성 검사 (키 누를 때 마다 변경)
            find_account_user_password_confirm.keyup(function() {
                // 만약 비밀번호와 비밀번호 확인 폼의 값이 서로 같으면
                if (find_account_user_password.val() == find_account_user_password_confirm.val()) {
                    // 초록색 "OK"를 출력
                    $('#find_account_user_password_confirm').attr('class', 'form-control is-valid');
                    $("#find_account_password_confirm_required").attr('class', 'valid-feedback');
                    $("#find_account_password_confirm_required").text("CORRECT");
                } else {
                    // 서로 다르면, 빨간색 "incorrect"를 출력
                    $('#find_account_user_password_confirm').attr('class', 'form-control is-invalid');
                    $("#find_account_password_confirm_required").attr('class', 'invalid-feedback');
                    $("#find_account_password_confirm_required").text("INCORRECT");
                }
            });

            var code;
            var code_confirm_bool = false;
            var email_send_bool = false;

            $('#email_code_send_button').on('click touchstart', function() {


                if (email_pattern.test($('#find_account_user_email').val()) != true) {
                    // 경고창 출력 후,
                    alert("Please enter a valid email.");
                    // 아이디 입력 input 태그에 포커스를 주고,
                    $('#find_account_user_email').focus();
                } else {

                    var overlap_check_email = $('#find_account_user_email').val();
                    console.log('overlap_check_email : ', overlap_check_email);
                    var email_overlap_check_jsonrpc_method = 'email_overlap_check_and_send_mail';

                    $.jsonRPC.request(email_overlap_check_jsonrpc_method, {
                        id: 001,
                        params: [overlap_check_email],
                        success: function(data) {
                            console.log(' jsonRPC success response is received.');
                            console.log('data.result : ', data.result);
                            if (data.result[0] == 'o') {
                                console.log('아이디 중복 체크 : 이미 아이디가 존재함. 생성 불가능한 아이디.');

                                alert('This is an already signed email. Please enter another email.');

                                $('#find_account_user_email').attr('class', 'form-control is-invalid');
                                $("#find_account_id_required").attr('class', 'invalid-feedback');
                                $("#find_account_id_required").text("Already signed");

                            } else if (data.result[0] == 'x') {
                                // 아이디 필요조건을 모두 만족했을 때, 필요조건 메시지를 초록색 "OK"로 출력
                                console.log('아이디 중복 체크 : 중복되는 아이디가 존재하지 않음. 생성 가능한 아이디.');

                                console.log('data.result[1] : ', data.result[1]);

                                code = data.result[1];
                                console.log('Received code : ', code);
                                console.log('data.result[2] : ', data.result[2]);
                                email_send_bool = data.result[2];
                                console.log('code : ', code);
                                console.log('email_send_bool : ', email_send_bool);
                                alert('We just sent the code to your email. Please enter the code in the form below.');

                                $('#find_account_user_email').attr('class', 'form-control is-valid');
                                $("#find_account_id_required").attr('class', 'valid-feedback');
                                $("#find_account_id_required").text("OK");
                            }

                        },
                        error: function(data) {
                            console.log('jsonRPC error 응답 받음.');
                            console.log(data.error.code + ', ' + data.error.message);
                            window.location.href = '../views/error';
                        }
                    });
                }
            });

            $('#email_code_confirm_button').on('click touchstart', function() {
                if (email_send_bool) {
                    if (code == $('#find_account_user_email_confirm_code').val()) {
                        alert('Your email code verification was successful!');
                        console.log('이메일 코드 인증 성공.');
                        $('#find_account_user_email_confirm_code').attr('class', 'form-control is-valid');
                        code_confirm_bool = true;
                        console.log('code_confirm_bool : ', code_confirm_bool);

                    } else {
                        alert('Your email code verification was failed!');
                        console.log('이메일 코드 인증 실패.');
                        $('#find_account_user_email_confirm_code').attr('class', 'form-control is-invalid');
                        code_confirm_bool = false;
                        console.log('code_confirm_bool : ', code_confirm_bool);
                    }
                } else {
                    alert('Please send the code to your email first.');
                    $('#email_code_send_button').focus();
                }
            });

            // 회원가입 버튼을 눌렀을 때(폼 양식 제출 시에),
            find_account_form.submit(function() {
                if (code_confirm_bool != true) {
                    alert('Please verify your email.');
                    $('#find_account_user_email').focus();
                    return false;
                }
                // 입력 아이디가 아이디 필요조건에 완전히 충족되지 않으면,
                if (password_pattern.test(find_account_user_password.val()) != true) {
                    // 경고창 출력 후,
                    alert("Please enter an PASSWORD that matches criteria.");
                    // 비밀번호 입력 input 태그에 포커스를 주고,
                    find_account_user_password.focus();
                    // submit(제출)을 취소한다.
                    return false;
                    // 비밀번호 값과 비밀번호 확인 값이 서로 같지 않으면,
                } else if (find_account_user_password.val() != find_account_user_password_confirm.val()) {
                    // 경고창 출력 후,
                    alert("PASSWORD and PASSWORD CONFIRM do not match.");
                    // 비밀번호 확인 입력 input 태그에 포커스를 주고,
                    find_account_user_password_confirm.focus();
                    // submit(제출)을 취소한다.
                    return false;
                }
            });

        });
    </script>
</body>

</html>
